@charset "utf-8";

*{margin: 0; padding: 0; font-family: 'FuturaStd-Book';}
ul,li{list-style: none;}
a{text-decoration: none;}
@font-face{font-family:"FuturaStd-Book";src:url(font/FuturaStd-Book.woff);}


#topbanner{
    width: 100%;
    height: 700px;
    background: url(images/common/hd_visual.png)no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.toplogo{
    position: relative;
    top:50px;
    left: 50px;
    width: 184px;
    height: 54px;
    background: url(images/common/mememi.png) no-repeat;
}
#join{height:76px; top:0; right:20px; padding:12px 0; position:absolute;}
#join > ul {width:100%; line-height:76px; font-size:11px;}
#join > ul > li{height:76px; color:#979797; float:left; padding:0 9px;}
#join > ul > li:last-child img{width:14px; height:14px; padding:31px 0;}		

.navibar{
    width: 100%;
    /* height: 50px; */
    /* border: 1px solid red; */
    position: relative;
    top: -30%;
    background: white;
    z-index: 1;
}
.nav{
    width: 710px;
    height: 80px;
    margin: 0 auto;
    list-style: none;
    /* border: 1px solid black; */
}
.nav>li{
    float: left;
    width: 118px;
    height: 100%;

}

.nav>li>a{
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s;
    font-weight: bold;
    margin-left: 2px;
}

.nav>li:hover>a{color: #ff56ba;}
.nav>li:hover .smenu{display: block;}

.smenu{
    list-style: none;
    width: 708px;
    height: 400px;
    position: relative;
    top: 30%;
    left: 0;
    z-index: 9999;
    display: none;
    overflow: hidden;
    transition: all .5s
}

.nav:hover>li:last-child{
    position: absolute;
    top: 100%;
    height: 470px;
    opacity: .8;
    background-color: rgba(250,250,250,1);
}
.nav>li:last-child{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    z-index: -1;
}
.nav>li:hover> .smenu{display: block;}

.nav>li>.smenu>li>a{
    color: #000;
    text-decoration: none;
    font-size: .9em;
    font-weight: bold;
}
.nav>li>.smenu>.list{
    width: 236px;
    height: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}
.list>a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

/* 각각 서브메뉴의 시작점을 맞추기위해 */

.nav>li:nth-child(2) .smenu{position: relative; left: -118px;}
.nav>li:nth-child(3) .smenu{position: relative; left: -236px;}
.nav>li:nth-child(4) .smenu{position: relative; left: -354px;}
.nav>li:nth-child(5) .smenu{position: relative; left: -472px;}
.nav>li:nth-child(6) .smenu{position: relative; left: -590px;}

.ul_img{
    width: 220px;
    height: 320px;
    position: relative;
    top: -140px;
    left: 230px;
}
.ul_img img{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.ul_img p:nth-of-type(1){
    width: 100%;
    position: absolute;
    top: 10%;
    color: #000;
    text-align: center;
    text-decoration: underline;
}
.ul_img p:nth-of-type(2){
    width: 100%;
    height: 25px;
    line-height: 25px;
    position: absolute;
    bottom: 30px;
    color: #666;
    text-align: center;
    font-size: 8pt;
    text-decoration: underline;
}

.ul_img b{
    position: absolute;
    bottom: -25px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    width: 150px;
    text-align: center;
    /* border: 1px solid red; */
}

.img2{
    left: 480px;
    top:-460px;
}

.nav>li .smenu> .moveRight{
    position: absolute;
    top: 0;
    left: 236px;
}

.nav>li>.smenu>.moveRight>li>a{
    color: #000;
    text-decoration: none;
    font-size: .9em;
    padding-left: 20px;
    box-sizing: border-box;
}
.nav>li:nth-child(3) .ul_img{top: -290px;}
.nav>li p:nth-child(3) {font-size: 20px;}
/* li: 4번째 서브메뉴 이미지 조정 */
.nav>li:nth-child(4) .ul_img{width: 472px; top: -90px;}
/* li : 5번째 서브메뉴 이미지 조정 */

.nav>li:nth-child(5) .ul_img{float: left; left: 0; top: 0;}
.img_container{margin: 0 auto; width: 660px; height: 320px;}
/* li 6번째 서브메뉴 이미지 위치조정 */
.nav>li:nth-child(6) .ul_img{
    top: -380px;
    float: left;
}
#bx{
    position: relative;
    width: 100%;
    height: 100%;
}

.maintop{
    width: 100%;
    height: 400px;
    position: relative;
}

#mainbanner{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 960px;
}
#mainbanner>p{
    font-size: 2.5rem;
    color: #fff;
    position: relative;
    top: -475px;
    left: 2%;
    font-weight: bold;
    /* left: 40%; */
}
.main>li>p{
    font-size: 2.5rem;
    color: #fff;
    position: relative;
    top: -470px;
    left: 40%;
    font-weight: bold;
}

/* MeMeMi Now */

.now{
    height: 150px;
    /* border: 1px solid red; */
    width: 500px;
    position: relative;
    left:37%;
    top: 8%;
    text-align: center;
}

.now>div>p:nth-child(1){font-size: 1.8rem;}
.now div:nth-child(2){font-size: 2rem;}
.now div:nth-child(3){font-size: 1rem; color: #666;}
.now div:nth-child(4){font-size: 1rem; color: #666;}


.mainhover{
    width: 100%;
    height: 800px;
    background: #f7f1f0;
    position: relative;
    top: 90px;
    margin: 0 ;
    margin: 0 auto;
}
.mainhover p{
    font-size: 30px;
}
.mainhover ul{
    position: relative;
    top: 120px;
    width: 1400px;
    height: 500px;
    /* border:  1px solid red; */
}
.mainhover ul li{
    width: 350px;
    height: 100%;
    float: left;
    text-align: center;
    margin-right: 10px;
    list-style: none;
    margin-top: 10%;
    margin: 0 auto;
}

.box{
    position: relative;
    top: 10%;
    
    transition: all 1s;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.box p{
    width: 200px;
    height: 50px;
    font-size: 1rem;
    color: #000;
    margin-left: 70px;
}

.box p>a{
    color: #666;
    font-size: 9pt;
}

.box p:nth-last-child(1){font-size: .8rem;}

.box>li img{transition: all .5s;}

.box>li:nth-child(1):hover img{transform: scale(1.2);}
.box>li:nth-child(2):hover img{transform: scale(1.2);}
.box>li:nth-child(3):hover img{transform: scale(1.2);}
.box>li:nth-child(4):hover img{transform: scale(1.2);}


.garden{
    width: 100%;
    height: 1000px;
    position: relative;
    background: #f9f9f9;
    /* border: 1px solid red; */
}
.grdtxt{
    position: relative;
    left: -100px;
}
.garden>.grdtxt{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    padding: 100px;
    text-align: center;
}
.grdtxt>div>p:nth-child(1){font-size: 1.8rem; }
.grdtxt>div:nth-child(2){font-size:2rem; font-weight:bold;}
.grdtxt>div:nth-child(3){font-size: .8rem; color: #666;}
.grdtxt>div:nth-child(4){font-size: .8rem; color: #666;}

.gdimg{
    width: 1020px;
    height: 750px;
    /* border: 1px solid red; */
    margin: 0 auto;
    position: relative;
    left: -10px;
    top: 50px;
}

.gdimg div{
    width: 320px;
    /* border: 1px solid blue; */
    float: left;
    transition: all 1s;
}

.gdimg div:nth-child(1){
    position: absolute;
    top: 0px;
    left:0 ;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    margin-right: 5px;
}
.gdimg div:nth-child(2){
    position: absolute;
    top: 460px;
    left:0 ;
    box-sizing: border-box;
    background-position: center center;
}
.gdimg div:nth-child(3){
    position: absolute;
    top: -0px;
    left: 350px ;
    background-position: center center;
}

.gdimg div:nth-child(4){
    position: absolute;
    top: 230px;
    left: 350px ;
    background-position: center center;
}

.gdimg div:nth-child(5){
    position: absolute;
    top: 0px;
    left: 700px ;
    background-position: center center;
}

.gdimg div:nth-child(6){
    position: absolute;
    top: 460px;
    left: 700px ;
    background-position: center center;
}
.gdimg div:nth-child(6) u{text-align: center; top: 40%; color: #fff;}

.gdimg p{
    font-size: .8rem; 
    position: absolute; 
    top:50%; 
    left: 10%; 
    text-align: center;
    overflow: hidden;
}

u{
    font-size: 1rem; 
    position: absolute; 
    top: 25%; 
    left: 40%;
    color: #fff;
    text-align: center;
}
.gdimg div:hover{
    filter: brightness(50%);   
}

/* 하단부 시작*/
.contxt{
    width: 100%;
    height: 150px;
    border: 1px solid red;
    padding-top: 80px;
    position: relative;
}

.contxt>div>p{font-size: 1.8rem; text-align: center; }


.container{
    width: 100%;
    height: 400px;
}
.backimg{
    width: 100%;
    height: 100%;
    background: url(images/index_img/backgroudimg1.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.container2{
    width: 500px;
    height: 316px;
    background: url(images/index_img/cafe\ chungdam.jpeg) no-repeat;
    background-size: cover;
}

.container3{
    width: 500px;
    height: 316px;
    background: url(images/index_img/cafe\ dosan.jpeg) no-repeat;
    background-size: cover;
}

